@model SLE_System.Models.ChangePasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row">

<div class="col-md-12">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" class="form-conrol"/>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-conrol"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-conrol"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </form>
</div>
</div>
