

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row text-center mt-5">
<h1 class="col-sm-12 text-secondary mt-5">Welcome, @Context.User.Identity.Name</h1>
<h1 class="col-sm-12 text-secondary"><img class="col-sm-1" src="https://cdn-icons-png.flaticon.com/512/845/845646.png"/>Account has been created</h1>
</div>