@model SLE_System.Models.ChangePasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Settings</h1>

        <a class="dropdown-item" asp-controller="Account"
            asp-action="ChangePassword">
            Password
        </a>
